@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans'


body{
font-family:'Alegreya Sans', sans-serif;
line-height: 150%;
max-width: 100%;
background-color:#F5F5F5;

}
#container{
max-width: 1200px;
min-width: 400px;
padding:0px;

margin:0 auto;
position: relative;

}
/*styling the header */

.topview {

background-color:#00979C;
height:120px;
position: relative;
border-bottom: 2px solid red;

}


.topview ul{

display: inline;
  list-style-type: none;
  float:right;
  margin-top:80px;
  padding:0px;
  margin-right: 15px;
}

.topview ul li{
  display:inline;
  float:left;
  padding:5px;
}

.topview ul li a{
  font-family: sans-serif;

  color:#F5F5F5;
  text-decoration: none;
  font-size: 150%;
}
.topview ul li a:hover{
  color: #C3D7DF;
}

.current{
  color:#C3D7DF;
}

#logo{
  float:left;

  margin: 1% 5%;
  color:#F5F5F5;
  background: url(../img/logo2.PNG) no-repeat;
  width:20%;
  height: 100px;
}

/*Styling the intro part */

.intro h1{
  color:#00979C;
  font-family: sans-serif;
  text-align: center;
  font-size: 200%;
 margin:5%;
}
.intro h2{
  font-family: sans-serif;
  font-size: 150%;
  margin-left:5px;

}
.intro p.first{
  margin:auto 5px;
  text-align: justify;

}
#banner{

  position: relative;
  left:300px;
  margin:15px auto;

}
.intro p.second{
  margin:auto 5px;
  text-align: justify;
}

/*technical sytling */

.technical h1{
  font-size: 150%;
  text-align: center;
  margin:20px auto;
  font-family:sans-serif;



}
.technical #img1{
  position :relative;
width:250px;
left:250px;
margin-top: 15px;

}
.technical #img2{
  position:relative;
  width:350px;
  left:280px;
  height: 200px;
  margin-top:15px;
}
.technical p.first{
  margin: auto 5px;
}
.technical h3{
  margin:15px 5px 20px;
font-family: sans-serif;
  font-size: 130%;
}

.technical p.second{
  margin:auto 5px;
}
/*Requirement styling */

.requirement h1{
  margin-left: 5px;
  font-family: sans-serif;
  font-size: 150%;
}
.requirement ul{
  margin-left: 55px;
}

.requirement ul li{
  color:#FF6347;
  padding:10px;
}
/*Instruction styling */

.instruction h1{
  margin-left: 5px;
font-family: sans-serif;
  font-size: 130%;
}

.instruction ol{
  line-height: 200%;
}

.instruction .img1,.img2,.img3,.img4 {

  margin: 15px auto;
  padding: 0px;
  width:1000px;

}

.instruction .img1{
  margin-left:60px;

}
.instruction .img2{
margin-left:5px;


}

.instruction .img3{

margin-left:25px;
}

.instruction .img4{
  margin-left:-25px;

}

/*Code styling */

.code{
    width:50%;
    float:left;
    margin-left:350px;
    margin-top:50px;
    height: 400px;
    overflow: scroll
}

.code h1{

    background-color:lightgrey;
    margin-top:30px;
    padding:15px;
    text-align: center;
    color: #00979C;


}
#codeheading{

    text-align: center;
    font-size: 150%;
    margin-left:65px;
    padding:15px;
    margin-bottom:-5%;
    font-family: sans-serif;

}
.video{
  clear:both;
  position:relative;
  top:25px;

}

.video h1{
  font-size: 150%;
  text-align: center;
   padding:15px 15px;
   font-family: sans-serif;
}

.video iframe{

  max-width: 1000px;
  min-width:400px;
  margin-left:200px;
  clear:both;
}

.copyright{
  clear:both;
  width:350px;
  margin-top:65px;
  margin-bottom:10px;
  margin-left:800px;
  position: relative;
  bottom:0px;
  right: 0px;
}
